@using Monambike.Web.Models

@page "/games"

@foreach(var game in Games)
{
    <h3>@game.Title</h3>
    <p>@game.BriefComment</p>
    <img src="@game.ImagePath" />
    <span></span>
    <div>
        @foreach (var achievement in game.Achievements)
        {
            <img title="@achievement.Name
                            teste" />
        }
    </div>
}


@code {
    public List<Monambike.Web.Models.Game> Games = new();

}
