<section class="site-section site-section--contact">
    <h2 class="site-section--title">CONTATO</h2>
    <div class="site-section--body">
        <p>Para ver algum dos meus projetos públicos você pode acessar o meu Github.</p>
        <p>E caso queira ver informações profissionais mais detalhadas e atualizadas a respeito de mim você pode ver no meu Linkedin.</p>
        <p>
            Caso queira ainda me contatar a respeito de alguma oportunidade, iniciar uma conversa
            comigo ou similares você pode fazê-lo através do meu email do outlook ou do google.
        </p>
    </div>
</section>
