<section class="site-section site-section--contact">
    <h2 class="site-section--title">CONTATO</h2>
    <div class="site-section--body">
        <p>
            Para ver informações profissionais detalhadas e atualizadas a respeito de mim você
            pode checar o meu Linkedin e o meu portfólio você pode ver no meu GitHub.
        </p>
        <p>
            Caso ainda queira me chamar a respeito de alguma oportunidade ou realizar algum contato
            você pode fazê-lo através do meu email do outlook ou do google.
        </p>
    </div>
</section>
