<section class="site-section site-section--my-values">
    <h2 class="site-section--title">VALORES</h2>
    <div class="site-section--body">
        <!-- Left Column -->
        <div class="three-columns three-columns--extern-columns site-section--my-values--extern-column">
            <h3 class="column-title">Transparência</h3>
            <p>
                Manter o máximo de transparência possível dentro do âmbito de trabalho, evitando ao
                máximo dar voltas e por sua vez mascarar a ideia que eu quero passar para que a equipe
                com quem eu trabalho possa ter a real noção da situação
            </p>
            <p>
                Desse jeito, fica muito mais fácil para que o meu time possa me fornecer algum auxílio
                para me ajudar de alguma forma.
            </p>
            <div class="center-content">
                <img src="images/values/transparency.png" alt="Imagem de Representação de Conversa - Transparência" title="Imagem de Representação de Conversa - Transparência">
            </div>
        </div>
        <!-- Center Column -->
        <div class="three-columns three-columns--intern-column site-section--my-values--intern-column">
            <h3 class="column-title">Evolução</h3>
            <p>
                Procuro sempre por uma constante melhora, aperfeiçoamento e conhecimento em pontos
                diretamente relacionados à minha vocação, na minha vida pessoal ou em outras áreas (mesmo
                que não sejam diretamente relacionadas com o meu trabalho).
            </p>
            <div class="center-content">
                <img src="images/values/adaptation.png" alt="Imagem de Um Lagarto - Adaptação" title="Imagem de Um Lagarto - Adaptação">
            </div>
        </div>
        <!-- Right Column -->
        <div class="three-columns three-columns--extern-columns site-section--my-values--extern-column">
            <h3 class="column-title">Direcionamento</h3>
            <p>
                Definir o porquê da decisão estar sendo tomada, quanto tempo provavelmente vai
                levar e recursos necessários são essenciais
            </p>
            <p>
                Quanto maior a troca de informações na resolução de problema ou criação de um novo
                recurso, melhor tende à ser o resultado final.
            </p>
            <div class="center-content">
                <img src="images/values/direction.png" alt="Imagem de Três Setas - Direcionamento" title="Imagem de Três Setas - Direcionamento">
            </div>
        </div>
    </div>
</section>
