@charset "UTF-8";
/* Actually being used on Footer and "Tour" Index Page Section, it
  makes possible to have three columns */
.three-columns {
  float: left;
  width: 30%;
}
.three-columns:nth-child(odd) { /* Left and Right Column */
  margin: 0px 1% 0px 1%;
}

/* The component with this class cannot be selected */
.not-selectable {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE10+/Edge */
  -moz-user-select: none; /* Firefox */
  user-select: none; /* Standard */
}

a.button {
  background-color: rgb(77, 18, 161);
  padding: 10px;
  border-radius: 5px;
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden; /* Hide any overflow text that doesn't fit */
  text-overflow: ellipsis; /* Add an ellipsis (...) if the text overflows */
  position: relative;
  text-align: center;
  margin: auto;
  display: inline-block; /* Make the link behave like a block-level element */
}
a.button:hover {
  background-color: rgb(227, 222, 236);
}
a.button::before {
  content: "Clique aqui: ";
}

img {
  max-width: 100%;
  transition: 0.5s;
}
img:hover {
  transform: scale(1.05);
}

img:hover + figcaption {
  opacity: 0;
}

figcaption {
  color: rgb(120, 20, 220);
  text-align: center;
  transition: 0.25s;
}

figure {
  border-left: 18px double rgb(120, 20, 220);
  width: auto;
}

a {
  /* Variables that hold values from the line under links when hovered */
  /* Link attributes */
  color: #fafafa;
  padding-bottom: var(0.15em);
  background: linear-gradient(90deg, rgb(144, 100, 202) 50%, #fafafa 0) calc(100% - var(--_p, 0%))/200% 100%, linear-gradient(rgb(144, 100, 202) 0 0) 0% 100%/var(--_p, 0%) 0.15em no-repeat;
  -webkit-background-clip: text, padding-box;
  transition: 0.5s;
}
a:hover {
  --_p: 100%;
  color: rgb(144, 100, 202);
}

p a[target=_blank]:after, li a[target=_blank]:after {
  content: "🡥";
  margin-left: 5px;
}

/* Scrollbar Width */
::-webkit-scrollbar {
  width: 14px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: rgb(227, 222, 236);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(144, 100, 202);
  /* Handle on hover */
  /* Handle when dragged */
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(95, 50, 155);
}
::-webkit-scrollbar-thumb:active {
  background: rgb(77, 18, 161);
}

select {
  background-color: rgb(30, 30, 30);
  color: #fafafa;
  cursor: pointer;
  padding: 5px;
  transition: 0.1s;
}
select:hover {
  background-color: rgb(40, 40, 40);
}
select:active {
  background-color: rgb(30, 30, 30);
}
select option {
  background-color: rgb(95, 50, 155);
  color: rgb(255, 255, 255);
  transition: 2s;
}

::selection {
  background: rgb(95, 50, 155);
  color: #fafafa;
}

::-moz-selection {
  background: rgb(144, 100, 202);
  color: #fafafa;
}

.reveal__translate {
  position: relative;
  transform: translateY(144px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal__translate.active {
  transform: translateY(0);
  opacity: 1;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

p {
  margin: 0px;
}

html, body {
  height: 100%;
  margin: 0px;
}

a {
  text-decoration: none;
}

iframe {
  border: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
  margin: 0px;
}

* {
  font-family: "Arial", sans-serif;
}

p {
  font-size: 1.5rem;
  text-align: justify;
  margin: 10px;
  word-break: break-word;
}

.footer {
  background-color: rgb(30, 30, 30);
  display: flex;
  flex-direction: column;
}
.footer--links {
  padding: 5% 0% 5% 0%;
}
.footer--links--three-columns {
  border-top: 6px solid rgb(40, 40, 40);
  margin: 0px 10% 0px 10%;
  padding: 20px;
  /* Footer Links */
  /* Container List Title */
  /* Container List */
  /* Every Item on the Container List */
}
.footer--links--three-columns span {
  color: rgb(144, 100, 202);
}
.footer--links--three-columns ul {
  margin-top: 8%;
}
.footer--links--three-columns li {
  margin: 5% 0% 5% 0%;
}
@media (max-width: 800px) {
  .footer--links .three-columns {
    margin: 15px 0px;
    width: 100%;
  }
}
.footer--copyright-and-translate {
  background-color: rgb(15, 15, 15);
  padding: 2.5%;
  text-align: center;
}
.footer--copyright-and-translate--copyright {
  color: #fafafa;
  margin: 2.5% 0% 2.5% 0%;
}

/**
  * Vinicius Gabriel Personal Website
  * Author: Vinicius Gabriel
  * Contact: contact@monambike.com
  * Copyright (c) 2024 Vinicius Gabriel Marques de Melo. All rights reserved.
  * This website and its contents are protected by copyright law. Unauthorized
  * reproduction or distribution of this material without express and written
  * permission from the author is strictly prohibited.
**/
.header {
  background-color: rgb(15, 15, 15);
  display: flex;
  padding: 10px;
  z-index: 999; /* Add z-index to make sure it appears above other elements */
}
.header ul * {
  display: inline-block;
  margin: 0px 5px 0px 5px;
}

.header-presentation {
  flex: 1;
  margin: auto;
  display: flex;
  margin-left: 10px;
  align-items: center;
  /* Vertical Line */
}
.header-presentation__subtitle::before {
  content: "";
  border-left: 2px solid #fafafa;
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.hamburguer {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #fafafa;
}

@media (max-width: 800px) {
  .header {
    position: fixed;
    width: 100%;
  }
  .hamburguer {
    display: block;
    margin-right: 20px;
  }
  .hamburguer.active .bar:nth-child(1) {
    opacity: 0;
  }
  .hamburguer.active .bar:nth-child(2) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburguer.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navigation {
    position: fixed;
    left: -100%;
    top: 35px;
    gap: 0;
    flex-direction: column;
    background-color: rgb(15, 15, 15);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 999; /* Add z-index to make sure it appears above other elements */
    padding: 20px 0;
  }
  .navigation li {
    display: block;
    margin: 10px 0;
  }
  .navigation--active {
    left: 0px;
  }
}
.site-section {
  /* Purple cross animation at dark gray background */
}
.site-section--about {
  /* Purple cross animation at dark gray background */
}
.site-section--about--body p {
  background-color: #fafafa;
  padding: 20px;
}
.site-section--about--body p a {
  color: rgb(77, 18, 161);
}
.site-section--about--body p span {
  background: -webkit-linear-gradient(rgb(95, 50, 155), rgb(144, 100, 202));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.site-section--about__filter {
  padding: 0px 15% 0px 15%;
}
@media (max-width: 800px) {
  .site-section--about__filter {
    padding: 0;
  }
}
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: -10000px 0;
  }
}
.site-section--about::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
  background: radial-gradient(circle, transparent 20%, rgb(30, 30, 30) 20%, rgb(30, 30, 30) 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, rgb(30, 30, 30) 20%, rgb(30, 30, 30) 80%, transparent 80%, transparent) 80px 80px, linear-gradient(rgb(95, 50, 155) 6.4px, transparent 6.4px) 0 -3.2px, linear-gradient(90deg, rgb(95, 50, 155) 6.4px, rgb(30, 30, 30) 6.4px) -3.2px 0;
  background-size: 160px 160px, 160px 160px, 80px 80px, 80px 80px;
  animation: animatedBackground 75s linear infinite;
  /*transform: rotate(30deg);*/
}

.i-love {
  margin: 30px 10px 30px 10px;
}
.i-love span, .i-love li {
  border: 1.82px solid rgb(30, 30, 30);
  border-radius: 2px;
  padding: 5px;
  margin: 2px 0px 2px 0px;
}
.i-love span {
  background-color: rgb(95, 50, 155);
  color: #fafafa;
  display: block;
  padding: 5px;
  font-weight: bold;
}
.i-love li {
  transition: 0.5s;
}
.i-love li:hover {
  transform: scale(1.05);
}
.i-love li:nth-child(odd) {
  background: rgb(227, 222, 236);
  border-color: rgb(30, 30, 30);
}
.i-love li:nth-child(even) {
  background: rgb(144, 100, 202);
  border-color: rgb(77, 18, 161);
  color: #fafafa;
}

.button-container {
  text-align: center;
  padding: 20px 0px;
}

.karen-kujou-staring-happy {
  display: table;
  margin: 0px auto 0px auto;
  padding: 20px;
  margin-bottom: 20px;
}

.site-section--contact {
  background-color: rgb(245, 245, 245);
}
.site-section--contact p {
  background-color: #fafafa;
  padding: 20px;
}
.site-section--contact p a {
  color: rgb(77, 18, 161);
}

.iframe-import-section {
  height: 100%;
  width: 100%;
  position: absolute;
}

.body-page {
  background: url(/resources/images/wallpaper_code.jpg) no-repeat fixed center/cover;
  color: rgb(30, 30, 30);
}

.site-section {
  padding: 10px 0px 10px 0px;
  min-height: 50vh;
  height: 100% !important;
  display: block;
  overflow: hidden;
}
.site-section--title {
  color: #fafafa;
  font-size: 34pt;
  text-shadow: 2px 2px rgb(15, 15, 15);
  padding: 20px;
  text-align: center;
}
.site-section--body {
  padding: 20px;
}

.site-section--presentation {
  /*background-color: $COLOR-PURPLE-1;*/
  background: -webkit-linear-gradient(rgb(77, 18, 161), rgb(95, 50, 155));
  display: flex;
  padding-left: 2.5%;
  align-items: center;
  color: #fafafa;
  text-transform: uppercase;
}
.site-section--presentation--name {
  font-size: 5vw;
  text-shadow: 5px 5px rgb(95, 50, 155);
  align-self: flex-end;
  text-align: left;
}
.site-section--presentation--profession {
  font-size: 4vw;
  text-shadow: 5px 5px rgb(95, 50, 155);
}
.site-section--presentation--skills {
  display: flex;
  font-size: 3vw;
}
@media (max-width: 800px) {
  .site-section--presentation--name {
    font-size: 9vw;
  }
}

.site-section--social-media {
  height: 130vh !important;
  background-color: rgb(95, 50, 155);
  color: rgb(15, 15, 15);
  height: auto;
}
.site-section--social-media--containers {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fafafa;
  text-align: right;
}
.site-section--social-media--containers:nth-child(odd) {
  color: #fafafa;
  background-color: rgb(144, 100, 202);
  text-align: left;
}

.site-section--tour {
  background-color: rgb(77, 18, 161);
}
.site-section--tour a img {
  width: 100%;
}
.site-section--tour a img:hover {
  transform: scale(1) !important;
}
.site-section--tour a .three-columns {
  transition: transform 0.35s ease-out; /* Apply transition to 'transform' property with 'ease-out' timing function */
}
.site-section--tour a:hover .three-columns {
  transform: scale(1.05);
}
.site-section--tour a:nth-child(odd) div {
  background-color: rgb(95, 50, 155);
  box-shadow: 5px 5px rgb(227, 222, 236);
  color: #fafafa;
}
.site-section--tour a:nth-child(even) div {
  background-color: rgb(227, 222, 236);
  box-shadow: 5px 5px rgb(144, 100, 202);
  color: rgb(15, 15, 15);
}
@media (max-width: 800px) {
  .site-section--tour a:hover .three-columns {
    transform: scale(1);
  }
  .site-section--tour a .three-columns {
    margin: 15px 0px;
    width: 100%;
  }
  .site-section--tour a .three-columns p {
    text-align: center;
  }
}

.column-title {
  font-size: 20pt;
  text-align: center;
  padding: 20px 0px 20px 0px;
}

.center-content {
  display: flex;
  justify-content: center;
}

.warning {
  background-color: rgb(200, 20, 20);
  color: #fafafa;
  padding: 5px;
  text-align: center;
}

.app-format {
  background: url("../../images/karen-kujou/determined.gif") no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.9);
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}
.app-format .loading {
  display: table-cell;
  vertical-align: middle;
}
.app-format .loading--background-filter {
  background-color: #fafafa;
}
.app-format .loading--image {
  padding: 2% 0;
  text-align: center;
}
.app-format .loading--image img {
  border: 5px solid rgb(95, 50, 155);
  border-radius: 5px;
}
.app-format .loading--title, .app-format .loading--body {
  padding: 20px;
  font-size: 16pt;
  color: white;
  font-weight: bold;
}
.app-format .loading--title {
  background-color: rgb(77, 18, 161);
}
.app-format .loading--body {
  background-color: rgb(95, 50, 155);
}
.app-format .loading--curiosity {
  background-color: #fafafa;
  /*background-color: black;*/
  padding: 10px;
  font-size: 12pt;
  text-align: center;
}
.app-format .loading p, .app-format .loading img {
  margin: 0;
  padding: 0;
  display: inline-block;
}

/*# sourceMappingURL=main.css.map */
