@import '../abstract/variables/_colors.scss';

// Change website selection color (when you select a text)
::selection {
  background: $COLOR-BRIGHT-BLUE-PURPLE;
  color: $COLOR-WHITE;
}

// For Firefox
::-moz-selection {
  background: $COLOR-BRIGHT-BLUE-PURPLE;
  color: $COLOR-WHITE;
}
