@import "../abstract/variables/_colors.scss";

select{
  background-color: $COLOR-DARK-GRAY;
  color: $COLOR-WHITE;
  cursor: pointer;
  padding: 10px;
  transition: 0.1s;

  &:hover { background-color: $COLOR-GRAY; }
  &:active { background-color: $COLOR-DARK-GRAY; }
  
  option{
    background-color: $COLOR-DARK-BLUE-PURPLE;
    color: rgba(255,255,255,1);
    transition: 2s;
  }
}
