@use '../abstract/variables/colors';

select{
  background-color: $color-dark-gray;
  color: $color-white;
  cursor: pointer;
  padding: 10px;
  transition: 0.1s;

  &:hover { background-color: $color-gray; }
  &:active { background-color: $color-dark-gray; }
  
  option{
    background-color: $color-dark-blue-purple;
    color: rgba(255,255,255,1);
    transition: 2s;
  }
}
