<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <!-- Head Outlet -->
    <HeadOutlet />
    <!--My Information-->
    <meta name="author" content="Vinícius Gabriel Marques de Melo">
    <meta name="application-name" content="Monambike Website">
    <meta name="description" content="Welcome to my link hub! Check my social medias and ways to contact me from gamer to professional!">
    <meta name="keywords" content="monambike, vinicius-gabriel, personal website, programming, web development, developer, portfolio, projects, coding, software engineer">
    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Monambike.Links.styles.css" />
    <link rel="stylesheet" href="main.css" />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
