@import '../../abstract/variables/_colors.scss';
@import '../../abstract/variables/_fonts.scss';

.iframe-import-section {
  height: 100%;
  width: 100%;
  position: absolute;
}

.body-page {
  background: url(/resources/images/wallpaper_code.jpg) no-repeat fixed center/cover;
  color: $COLOR-GRAY-1;
}

.site-section {
  padding: 10px 0px 10px 0px;
  min-height: 50vh;
  height: 100% !important;
  display: block;
  overflow: auto;

  &--title {
    // Text
    color: $COLOR-WHITE;
    font-size: $FONT-SIZE-H2;
    text-shadow: 2px 2px $COLOR-BLACK;
    // Position and Size
    padding: 20px;
    text-align: center;
  }

  &--body {
    padding: 20px;
  }
}

