<!-- PRESENTATION - MY NAME AND PROFESSION -->
<section class="site-section site-section--presentation">
    <div>
        <h1 class="site-section--presentation--name">VINÍCIUS&nbsp;GABRIEL</h1>
        <h2 class="site-section--presentation--profession">Desenvolvedor&nbsp;de&nbsp;Software</h2>
        <span class="site-section--presentation--skills">C# - SQL Server - Visual Studio</span>
        <span class="site-section--presentation--skills">HTML5 - CSS3 - Sass - Visual Studio Code</span>
    </div>
</section>
