<section class="site-section site-section--social-media">
    <h2 class="site-section--title">REDES SOCIAIS</h2>
    <div class="site-section--body">
        <div class="site-section--social-media--containers">
            <!-- Linkedin -->
            <h3>Linkedin</h3>
            <div>
                <p>
                    Lugar onde eu coloco mais sobre a minha trajetória da minha carreira. Lá você
                    pode ver os lugares onde eu trabalhei, alguns projetos que tiveram um impacto mais
                    na minha carreira, minhas competências e algumas coisas sobre mim à respeito da
                    minha carreira
                </p>
                <p>
                    Normalmente lá é o lugar onde eu tenho as informações mais atualizadas sobre
                    a minha carreira profissional. Da uma conferida lá :D
                </p>
            </div>
        </div>
        <!-- Youtube -->
        <div class="site-section--social-media--containers">
            <h3>Youtube</h3>
            <div>
                <p>
                    É o lugar onde tenho alguns dos melhores momentos ou edições que gosto de gostaria
                    de compartilhar com outras pessoas no geral
                </p>
                <p>
                    Pretendo compartilhar algumas histórias da minha vida também, alguns trechos e
                    momentos da minha vida que considero importantes através de vídeos
                </p>
            </div>
        </div>
        <!-- TikTok -->
        <div class="site-section--social-media--containers">
            <h3>TikTok</h3>
            <div>
                <p>Ainda não postei nada, mas ainda pretendo fazer conteúdo.</p>
            </div>
        </div>
    </div>
</section>
