<section class="site-section site-section--tour">
    <h2 class="site-section--title">POR ONDE COMEÇAR?</h2>\
    <div class="site-section--body">
        <!-- Left Column -->
        <a href="/">
            <div class="three-columns three-columns--extern-columns site-section--tour--extern-column">
                <h3 class="column-title">Listas de Mídia</h3>
                <p>
                    Poder criar listas de jogos, filmes, animes e séries preferidos que você
                    está assistindo ou quer assistir!
                </p>
                <div class="center-content">
                    <img src="images/you-will-see/anime-watching-tv.gif">
                </div>
            </div>
        </a>

        <!-- Center Column -->
        <a href="/">
            <div class="three-columns three-columns--intern-column site-section--tour--intern-column">
                <h3 class="column-title">Blog</h3>
                <p>
                    Dar uma passadinha do meu blog.
                </p>
                <div class="center-content">
                    <img src="images/you-will-see/anime-computer.gif">
                </div>
            </div>
        </a>

        <!-- Right Column -->
        <a href="/">
            <div class="three-columns three-columns--extern-columns site-section--tour--extern-column">
                <h3 class="column-title">Guias de Referência</h3>
                <p>
                    Consultar meus guias de referência que eu uso pra estudo.
                </p>
                <div class="center-content">
                    <img src="images/you-will-see/anime-studying.gif">
                </div>
            </div>
        </a>
    </div>
</section>
