@**************************************************************************
Copyright(c) 2024 Vinicius Gabriel Marques de Melo. All rights reserved.
Contact: contact@monambike.com for more information.
For license information, please see the LICENSE file in the root directory.
**************************************************************************@
@inherits LayoutComponentBase

<header class="header">
    <div class="header-presentation">
        <a href="/" target="_top">
            <span class="header-presentation__name">Monambike</span>
            <span class="header-presentation__subtitle">Desenvolvedor&nbsp;de&nbsp;Software</span>
        </a>
    </div>

    <nav class="navigation">
        <ul class="menu @Display">
            <li><a href="/" target="_top">Início</a></li>
            <li><a href="https://blog.monambike.com" target="_blank" title="Veja minhas histórias, viagens e momentos da minha vida.">Blog</a></li>
            <li><a href="https://learn.monambike.com" target="_blank" title="Veja minhas anotações e aprenda comigo.">Learn</a></li>
            <TranslationButton/>
        </ul>
        <div class="hamburguer" @onclick="() => UISwitcher = !UISwitcher">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>

@code{
    private static bool UISwitcher;

    private static string Display => UISwitcher ? "ul-navigation--active" : ""; 
}
