@inherits LayoutComponentBase

<header class="website-header">
    <div class="website-header--presentation">
        <a href="/" target="_top">Monambike<span class="website-header--presentation--profession">Desenvolvedor&nbsp;de&nbsp;Software</span></a>
    </div>

    <nav>
        <ul class="ul-navigation @Display">
            <li><a href="/" target="_top">Início</a></li>
            <li><a href="/" target="_top">Blog</a></li>
            <li><a href="/" ta rget="_top">Guias de Referência</a></li>
            <TranslationButton/>
        </ul>
        <div class="hamburguer" @onclick="() => UISwitcher = !UISwitcher">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>

@code{
    bool UISwitcher;
    string Display => UISwitcher ? "ul-navigation__active" : ""; 
}
