<noscript>
    <section>
        <h1>ATIVE&nbsp;O&nbsp;JAVASCRIPT!</h1>
        <div>
            <p>
                É necessário habilitar Javascript para visualizar o site pois usamos muitos recursos que
                necessitam de javascript, desde ocultar e mostrar divisões à ajustar o tamanho dos layouts
                do site.
            </p>
            <p>
                Por favor, ative o Javascript e recarregue a página para poder visualizar o conteúdo
                normalmente!
            </p>
        </div>
    </section>
</noscript>
