@using Monambike.Core.Data;

<section class="site-section site-section--contact">
    <h2 class="site-section--title">CONTATO</h2>
    <div class="site-section--body reveal__translate">
        <p>
            Para ver informações profissionais detalhadas e atualizadas a respeito de mim você pode checar o meu
            <a target="_blank" rel="nofollow" href="@Links.LinkedIn">Linkedin</a> e o meu portfólio
            você pode ver no meu <a target="_blank" rel="nofollow" href="@Links.GitHub">GitHub</a>.
        </p>
        <p>
            Você também pode me contatar através do meu e-mail <a href="@Emails.MonambikeContact">@Emails.MonambikeContact</a>.
        </p>
    </div>
</section>
