@*@inject IStringLocalizer<Monambike.Web.Resources> localizer*@

<!-- PRESENTATION - MY NAME AND PROFESSION -->
<section class="site-section site-section--presentation">
    <div>
        <h1 class="site-section--presentation--name">Vinícius&nbsp;Gabriel</h1>
        <h2 class="site-section--presentation--profession">Desenvolvedor&nbsp;de&nbsp;Software</h2>
        <span class="site-section--presentation--skills">C# / Unity / SQL Server</span>
        <span class="site-section--presentation--skills">HTML5 / CSS3 / Sass / Blazor</span>
    </div>
</section>
