@using Monambike.Core.Data;

<section class="site-section site-section--tour">
    <h2 class="site-section--title">POR ONDE COMEÇAR?</h2>
    <div class="site-section--body">
        <!-- Left Column -->
        <a href="https://monambike.notion.site/b0d235ad21d34416be77fd03d16897e5?v=42aea01b85904c08aced01707d9f4984&pvs=4" target="_blank">
            <div class="three-columns three-columns site-section--tour--extern-column">
                <h3 class="column-title">Listas de Mídia</h3>
                <p>Veja minhas listas de jogos, filmes, animes e séries preferidos que eu tô
                assistindo ou quero assistir!</p>
                <div class="center-content">
                    <img src="images/you-will-see/anime-watching-tv.gif">
                </div>
            </div>
        </a>

        <!-- Center Column -->
        <a href="@Links.WebsiteBlog" target="_blank">
            <div class="three-columns three-columns--intern-column site-section--tour--intern-column">
                <h3 class="column-title">Blog</h3>
                <p>Dar uma passadinha do meu blog.</p>
                <div class="center-content">
                    <img src="images/you-will-see/anime-computer.gif">
                </div>
            </div>
        </a>

        <!-- Right Column -->
        <a href="@Links.WebsiteLearn" target="_blank">
            <div class="three-columns three-columns site-section--tour--extern-column">
                <h3 class="column-title">Notas e Estudos</h3>
                <p>Consultar minhas anotações e guias de referência que eu uso pra estudo.</p>
                <div class="center-content">
                    <img src="images/you-will-see/anime-studying.gif">
                </div>
            </div>
        </a>
    </div>
</section>
