@page "/blog"

@inject PageTitleService PageTitleService

<div>
    <div>
        <header>
            <nav><a>Blog /</a></nav>
            <div>
                Compartilhar postagem em:
                <a>Facebook</a>
                <a>Twitter</a>
                <a>Linkedin</a>
                <a>E-mail</a>
            </div>
        </header>

        <aside>
            Filtrar por post
        </aside>

        <aside>
            <span>Nesse artigo você vai ver</span>
            <ul>
                <li>
                    <a></a>
                </li>
            </ul>
        </aside>

        <div>
            <h1>Title</h1>
            <div>Conteúdo do site</div>
        </div>
    </div>


    <div>
        <h3>Veja também</h3>
    </div>

    <div>
        <h3>Conteúdo Recomendado</h3>
    </div>
</div>


@code {
    protected override async Task OnInitializedAsync()
    {
        await PageTitleService.SetPageTitle("Blog");
    }
}
