// Text
h1, h2, h3, h4, h5, h6 { margin: 0px; }
p { margin: 0px; }

// Divisions
html, body {
  height: 100%;
  margin: 0px;
}

// Links and Imports
a { text-decoration: none; }
iframe { border: 0px; }

// Lists
ul { padding: 0px; margin: 0px; }
li { list-style: none; margin: 0px; }


