@import '../../abstract/variables/_colors.scss';

.site-section {
  &--about {
    &--body {
      p {
        background-color: $COLOR-WHITE;
        padding: 20px;

        a {
          color: $COLOR-PURPLE-1;
        }

        span {
          background: -webkit-linear-gradient($COLOR-PURPLE-2, $COLOR-PURPLE-3);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    &__filter {
      padding: 0px 15% 0px 15%;
      // Adjust layout for smaller devices
      @media(max-width:800px) {
        padding: 0;
      }
    }
    /* Purple cross animation at dark gray background */
    @keyframes animatedBackground {
      from {
        background-position: 0 0;
      }
      /*use negative width if you want it to flow right to left else and positive for left to right*/
      to {
        background-position: -10000px 0;
      }
    }
  }
  /* Purple cross animation at dark gray background */
  &--about::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    background: radial-gradient(circle, transparent 20%, rgba(30,30,30,1) 20%, rgba(30,30,30,1) 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, rgba(30,30,30,1) 20%, rgba(30,30,30,1) 80%, transparent 80%, transparent) 80px 80px, linear-gradient(rgba(95,50,155,1) 6.4px, transparent 6.4px) 0 -3.2px, linear-gradient(90deg, rgba(95,50,155,1) 6.4px, rgba(30,30,30,1) 6.4px) -3.2px 0;
    background-size: 160px 160px, 160px 160px, 80px 80px, 80px 80px;
    animation: animatedBackground 75s linear infinite;
    /*transform: rotate(30deg);*/
  }
}

.i-love {
  margin: 30px 10px 30px 10px;

  span, li {
    border: 1.82px solid $COLOR-GRAY-1;
    border-radius: 2px;
    padding: 5px;
    margin: 2px 0px 2px 0px;
  }

  span {
    background-color: $COLOR-PURPLE-2;
    color: $COLOR-WHITE;
    display: block;
    padding: 5px;
    font-weight: bold;
  }

  li {
    transition: 0.5s;

    &:hover {
      transform: scale(1.050);
    }
  }

  li:nth-child(odd) {
    background: $COLOR-PURPLE-4;
    border-color: $COLOR-GRAY-1;
  }

  li:nth-child(even) {
    background: $COLOR-PURPLE-3;
    border-color: $COLOR-PURPLE-1;
    color: $COLOR-WHITE;
  }
}

.button-container {
  text-align: center;
  padding: 20px 0px;
}

.karen-kujou-staring-happy {
  display: table;
  margin: 0px auto 0px auto;
  padding: 20px;
  margin-bottom: 20px;
}
