@import "../../abstract/variables/_colors.scss";

.site-section {
  &--social-media {
    height: 130vh !important;

    background-color: $COLOR-PURPLE-2;
    color: $COLOR-BLACK;
    height: auto;

    &--containers {
      padding: 20px;
      margin-bottom: 20px;
      background-color: $COLOR-WHITE;
      text-align: right;
    }

    &--containers:nth-child(odd) {
      color: $COLOR-WHITE;
      background-color: $COLOR-PURPLE-3;
      text-align: left;
    }
  }
}
