@import '../../abstract/variables/_colors.scss';
@import '../../abstract/variables/_fonts.scss';

.site-section {
  &--tour {
    background-color: $COLOR-PURPLE-1;

    a {
      // Removing image hover animation
      img:hover {
        transform: scale(1) !important;
      }
      // Adding hover to columns
      & .three-columns {
        transition: transform 0.35s ease-out; /* Apply transition to 'transform' property with 'ease-out' timing function */
      }

      &:hover .three-columns {
        transform: scale(1.05);
      }
      // Extern columns
      &:nth-child(odd) div {
        background-color: $COLOR-PURPLE-2;
        box-shadow: 5px 5px $COLOR-PURPLE-4;
        color: $COLOR-WHITE;
      }
      // Intern column
      &:nth-child(even) div {
        background-color: $COLOR-PURPLE-4;
        box-shadow: 5px 5px $COLOR-PURPLE-3;
        color: $COLOR-BLACK;
      }
      // Adjust layout for smaller devices
      @media(max-width:800px) {
        &:hover .three-columns {
          transform: scale(1);
        }
        // Removing animation
        .three-columns {
          margin: 15px 0px;
          width: 100%;

          p {
            text-align: center;
          }
          // Making text aligned to middle
        }
      }
    }
  }
}

.column-title {
  font-size: $FONT-SIZE-H3;
  text-align: center;
  padding: 20px 0px 20px 0px;
}

.center-content {
  display: flex;
  justify-content: center;
}
