img {
  max-width: 100%;
  transition: 0.5s;
  &:hover {
    transform: scale(1.050);
  }
}
img:hover + figcaption {
  opacity: 0;
}
figcaption {
  color: rgba(120, 20, 220, 1);
  text-align: center;
  transition: 0.25s;
}
figure {
  border-left: 18px double rgb(120, 20, 220, 1);
  width: auto;
}
