@import "../abstract/variables/_colors.scss";

$LINK-COLOR: $COLOR-PURPLE-3;

a {
  /* Variables that hold values from the line under links when hovered */
  $LINE-THICKNESS: 0.15em;
  $LINE-COLOR: $LINK-COLOR;
  /* Link attributes */
  color: $COLOR-WHITE;
  padding-bottom: var($LINE-THICKNESS);
  background: linear-gradient(90deg,$LINE-COLOR 50%, $COLOR-WHITE 0) calc(100% - var(--_p,0%)) / 200% 100%, linear-gradient($LINE-COLOR 0 0) 0% 100%/var(--_p,0%) $LINE-THICKNESS no-repeat;
  -webkit-background-clip: text, padding-box;
  transition: 0.5s;
  // Links text color
  &:hover {
    --_p: 100%;
    color: $LINK-COLOR
  }
}

p, li {
  a[target=_blank]:after {
    content: "\2197" // Represents a diagonal up arrow symbol
  }
}
