.reveal__ {
  &translate { // "reveal__translate"
    position: relative;
    transform: translateY(144px);
    opacity: 0;
    transition: 1s all ease;

    &.active { // "reveal__translate" and "active" {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
