@use '../../abstract/variables/colors';
@use '../../abstract/variables/fonts';

.iframe-import-section {
  height: 100%;
  width: 100%;
  position: absolute;
}

.body-page {
  background: url(/resources/images/wallpaper_code.jpg)
    no-repeat fixed center/cover;
  color: $color-dark-gray;
}

.site-section {
  padding: 10px 0px 10px 0px;
  min-height: 40vh;

  &__title {
    // Text
    color: $color-white;
    font-size: $font-size-h2;
    text-shadow: 2px 2px $color-black;
    // Position and Size
    padding: 20px;
    text-align: center;
  }
  
  &__body {
    padding: 20px;
  }
}

