@import '../../abstract/variables/_colors.scss';
@import '../../abstract/variables/_fonts.scss';

.site-section {
  height: 110vh !important;

  &--my-values {
    background-color: $COLOR-PURPLE-1;


    img:hover {
      transform: scale(1) !important;
    }

    &--extern-column:hover, &--intern-column:hover {
      transform: scale(1.025);
      transition: 0.25s;
    }

    &--extern-column {
      background-color: $COLOR-PURPLE-2;
      color: $COLOR-WHITE;
      box-shadow: 5px 5px $COLOR-PURPLE-4;
    }

    &--intern-column {
      background-color: $COLOR-PURPLE-4;
      box-shadow: 5px 5px $COLOR-PURPLE-3;
      color: $COLOR-BLACK;
    }
  }
}

.column-title {
  font-size: $FONT-SIZE-H3;
  text-align: center;
  padding: 20px 0px 20px 0px;
}
.center-content {
  display: flex;
  justify-content: center;
}
