@import "../../abstract/variables/_colors.scss";

.site-section {
  &--presentation {
    background-color: $COLOR-DARK-BLUE-PURPLE;
    display: flex;
    height: 85vh;
    padding-left: 20px;
    align-self: center;
    height: 50%;
    width: 100%;

    color: $COLOR-WHITE;

    &--name {
      // Text
      font-size: 5vw;
      text-shadow: 5px 5px $COLOR-BLUE-PURPLE;
      // Position
      align-self: flex-end;
      text-align: left;
    }

    &--profession {
      // Text
      font-size: 4vw;
      text-shadow: 5px 5px $COLOR-BLUE-PURPLE;
    }

    &--skills {
      display: flex;
    }
  }
}
