@import "../../abstract/variables/_colors.scss";

.site-section--social-media { background-color: $COLOR-PURPLE-2; }
.social-media {
  padding: 20px;
  margin-bottom: 20px;

  &--right{
    color: $COLOR-BLACK;
    background-color: $COLOR-WHITE;
    
    * { text-align: right; }
  }

  &--left{
    color: $COLOR-WHITE;
    background-color: $COLOR-PURPLE-3;
    
    * { text-align: left; }
  }
}