.site-section--values { background-color: $COLOR-DARK-BLUE-PURPLE; }
.column-title { font-size: $FONT-SIZE-H3; text-align: center; }
.myvalues__extern-column { 
  background-color: $COLOR-BLUE-PURPLE;
  color: $COLOR-WHITE;
  box-shadow: 5px 5px $COLOR-WHITE-BLUE-PURPLE;
}
.myvalues__intern-column { 
  background-color: $COLOR-WHITE-BLUE-PURPLE;
  box-shadow: 5px 5px $COLOR-BRIGHT-BLUE-PURPLE;
  color: $COLOR-BLACK;
}
.topic-body--values { overflow: auto; }
