@page "/aboutme"
@page "/about"

@inject PageTitleService PageTitleService

<div>
    Olá!! Meu nome é Vinícius Gabriel mas se quiser pode me chamar de Vini ;P

    Eu criei diversos projetos.

    Adoro desenhar, programar e criar coisas relevantes pra mim e pra outras pessoas!!

    <li>
        Sou apaixonado por <a>organização</a>.
        Mantenho conversa à base de emojis de stickers
    </li>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await PageTitleService.SetPageTitle("About Me");
    }
}
