@page "/"
@inherits LayoutComponentBase
@using Monambike.Web.Components.Home

<div id="div-display">
    <Presentation/>
    <Warning/>
    <AboutMe/>
    <Tour/>
    @*<SocialMedia/>*@
    <Contact/>
    @* <Instagram/> *@
</div>
