@* @page "/login" *@
@layout NoMenuLayout

<div class="login-page-background">
    <div class="login-frame">
        <div class="background-filter">
            <h1>Monambike: Login ou Cadastre-se</h1>
            <form>
                <input placeholder="Nome de usuário, e-mail ou telefone" type="text" autofocus size="50" />
                <input placeholder="Senha" type="password" size="20" />
                <a>Esqueci minha senha</a>
                <button>Entrar</button>
            </form>
            <a class="create-new-account not-selectable">Criar nova conta</a>
        </div>
    </div>
</div>
