<footer class="footer">
    <div class="footer__links">
        <div class="three-columns--footer">
            <div class="three-columns three-columns__extern-columns">
                <span class="three-columns__footer-links-title"><b>OUTROS</b></span>
                <ul class="three-columns__footer-links-body">
                    <li class="three-columns__footer-links-item"><a target="_blank" rel="nofollow" href="https://www.instagram.com/monambike/">Meus Desenhos e Fotos</a></li>
                    <li class="three-columns__footer-links-item"><a target="_blank" rel="nofollow" href="https://www.youtube.com/user/monambike">Meus Vídeos</a></li>
                    <li class="three-columns__footer-links-item"><a target="_blank" rel="nofollow" href="https://www.tiktok.com/monambike">Meus Vídeos Curtos</a></li>
                    <li class="three-columns__footer-links-item"><a target="_blank" rel="nofollow" href="https://www.youtube.com/user/monambike">Músicas que eu Gosto</a></li>
                </ul>
            </div>
            <div class="three-columns three-columns__intern-column">
                <span class="three-columns__footer-links-title"><b>ME ENCONTRE TAMBÉM AQUI</b></span>
                <ul class="three-columns__footer-links-body">
                    <li class="three-columns__footer-links-item"><a target="_blank" rel="nofollow" href="https://www.linkedin.com/in/monambike">Linkedin</a></li>
                    <li class="three-columns__footer-links-item"><a target="_blank" rel="nofollow" href="https://www.youtube.com/user/monambike">YouTube</a></li>
                    <li class="three-columns__footer-links-item"><a target="_blank" rel="nofollow" href="https://twitter.com/Monambike">Twitter</a></li>
                    <li class="three-columns__footer-links-item"><a target="_blank" rel="nofollow" href="https://steamcommunity.com/id/monambike">Steam</a></li>
                    <li class="three-columns__footer-links-item"><a target="_blank" rel="nofollow" href="https://www.github.com/monambike/">Github</a></li>
                </ul>
            </div>
            <div class="three-columns three-columns__extern-columnss">
                <span class="three-columns__footer-links-title"><b>PROJETOS EM DESTAQUE</b></span>
                <ul class="three-columns__footer-links-body">
                    <li class="three-columns__footer-links-item"><a target="_blank" rel="nofollow" href="https://github.com/users/monambike/projects/3">Project Hanabi</a></li>
                    <li class="three-columns__footer-links-item"><a target="_blank" rel="nofollow" href="https://github.com/users/monambike/projects/9">KWIJisho</a></li>
                    <li class="three-columns__footer-links-item"><a target="_blank" rel="nofollow" href="https://github.com/users/monambike/projects/20">ComfyZone</a></li>
                    <li class="three-columns__footer-links-item"><a target="_blank" rel="nofollow" href="https://github.com/users/monambike/projects/5">Eletrolojinha</a></li>
                    <li class="three-columns__footer-links-item"><a target="_blank" rel="nofollow" href="https://github.com/users/monambike/projects/6">Restaurantinho LTDA.</a></li>
                    <li class="three-columns__footer-links-item"><a target="_blank" rel="nofollow" href="https://github.com/users/monambike/projects/8">Meu Perfil</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer__description">
        <div class="small-text">
            <small>Creative Commons (CC) - 2020</small>
            <small>Site de apresentação pessoal</small>
        </div>
        <div>
            <div class="switch-language">
                <select>
                    <option>Português (Brasil)</option>
                    <option>English</option>
                    <option>Español (España)</option>
                    <option>日本語</option>
                </select>
            </div>
        </div>
    </div>
</footer>
