@*@using Monambike.Web

<header>
    <nav>
        <ul class="ul-navigation">
            <li><a href="/" target="_top">Início</a></li>
            <li><a href="/#h2-about" target="_top">Sobre</a></li>
            <li><a href="/#h2-values" target="_top">Valores</a></li>
            <li><a href="/#h2-works" target="_top">Trabalhos</a></li>
            <li><a href="/#h2-contact" target="_top">Contatos</a></li>-->

            <!-- Language Button -->
            <li class="button-dropdown" onmousedown="ToggleNavMenu()">
                <svg width="2em" height="2em" viewBox="0 0 100 100" fill="currentColor" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
                    <path d="M 12 6 C 8.601562 6 6 8.601562 6 12 L 6 52 C 6 55.398438 8.601562 58 12 58 L 12.125 58 L 20.9375 47.4375 L 21.5625 46.6875 C 20.953125 46.921875 20.546875 47.085938 20.4375 47.125 L 19.1875 43.3125 C 19.296875 43.273438 24.789062 41.398438 30.125 37.625 C 25.007812 32.976562 22.414062 28.242188 22.25 27.9375 L 25.75 26.0625 C 25.789062 26.132812 28.335938 30.6875 33.3125 35.0625 C 36.53125 32.15625 39.25 28.460938 39.875 24 L 16 24 L 16 20 L 32 20 L 32 16 L 36 16 L 36 20 L 50 20 L 50 24 L 43.875 24 C 43.28125 29.578125 40.265625 34.070312 36.5625 37.5625 C 38.0625 38.601562 39.695312 39.554688 41.5 40.375 C 43.234375 38.898438 45.484375 38 48 38 L 58 38 L 58 12 C 58 8.601562 55.398438 6 52 6 Z M 33.375 40.25 C 30.492188 42.40625 27.5 44 25.125 45.125 L 27.0625 47.4375 L 35.875 58 L 38 58 L 38 48 C 38 46.429688 38.375 44.9375 39 43.625 C 36.929688 42.617188 35.0625 41.484375 33.375 40.25 Z M 48 42 C 44.601562 42 42 44.601562 42 48 L 42 64.125 L 52.5625 72.9375 L 56.25 76 L 52.5625 79.0625 L 42 87.875 L 42 88 C 42 91.398438 44.601562 94 48 94 L 88 94 C 91.398438 94 94 91.398438 94 88 L 94 48 C 94 44.601562 91.398438 42 88 42 Z M 24 50 L 14 62 L 20 62 L 20 70 L 28 70 L 28 62 L 34 62 Z M 66 52.8125 L 70.1875 52.8125 L 80.625 80.375 L 75.625 80.375 L 73.375 74 L 62.8125 74 L 60.625 80.375 L 55.625 80.375 Z M 68 58.8125 L 64 70.1875 L 72 70.1875 Z M 38 66 L 38 72 L 20 72 L 28 80 L 38 80 L 38 86 L 50 76 Z M 38 66 " />
                </svg>
            </li>
        </ul>

        <!-- Language Dropdown -->
        <ul id="ul-dropdown-language" class="@NavMenuCssClass ul-dropdown" style="display: none;">
            
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
            @code{
                Monambike.Web
            }
            <li onmousedown="changePageLanguageByLanguageDropdown('pt-BR')"><a href="#">PT&nbsp;(BR)</a></li>
            <li onmousedown="changePageLanguageByLanguageDropdown('en-US')"><a href="#">EN&nbsp;(US)</a></li>
            <li onmousedown="changePageLanguageByLanguageDropdown('es-ES')"><a href="#">ES&nbsp;(ES)</a></li>
            <li onmousedown="changePageLanguageByLanguageDropdown('ja-JP')"><a href="#">JA&nbsp;(JP)</a></li>
        </ul>


        @code {
            private bool collapseNavMenu = true;

            private string NavMenuCssClass => collapseNavMenu ? "block" : "none";

            private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;
        }
    </nav>
</header>
*@