@**************************************************************************
Copyright(c) 2024 Vinicius Gabriel Marques de Melo. All rights reserved.
Contact: contact@monambike.com for more information.
For license information, please see the LICENSE file in the root directory.
**************************************************************************@

@using Microsoft.JSInterop
@using Monambike.Core.Data;

@inject IJSRuntime JSRuntime

<section class="section--about">
    <div class="section--about__container">
        <h2 class="section__title">Sobre Mim</h2>
        <div class="section--about__content">
            <p class="paragraph-block reveal-animation translateY">
                <span class="uppercase">Oii, </span><span class="uppercase highlight-purple">Bom Diaaaaaaa!</span> &#128523;&#127881;&#127881;
                <br />
                Eu me chamo Vinícius Gabriel, e sou um desenvolvedor que trabalha com <span class="highlight-purple">C#</span>, <span class="highlight-purple">Jogos</span> e <span class="highlight-purple">Web</span>.
            </p>
            <div class="interests-list reveal-animation translateY">
                <h3 class="interests-list__title">Eu gosto de..</h3>
                <ul>
                    <li>&#128230; Manter as minhas coisas organizadas, sempre tenho o que preciso. 😎</li>
                    <li>&#9195; Usar vários tipos de atalhos, tudo fica muito mais rápido!</li>
                    <li>&#129302; Automação, porque fazer algo que pode ser feito por um outro alguém? Beep-Boop!</li>
                </ul>
            </div>
            <div class="interests-list reveal-animation translateY">
                <h3 class="interests-list__title">Eu gosto de..</h3>
                <ul>
                    <li>&#127918; Jogar joguinhos.</li>
                    <li>&#127912; Design e desenhar.</li>
                    <li>&#128172; Stickers.</li>
                    <li>&#128049; Gatinhos!!</li>
                    <li>&#129424; E camarões.. &#128523</li>
                </ul>
            </div>
            <p class="paragraph-block reveal-animation translateY">
                Que tal dar uma olhadinha no meu <a href="@Links.GitHub" target="_blank">GitHub</a> também? O link das minhas outras redes sociais
                estão no rodapé da página, sinta-se à vontade para dar uma checadinha lá a qualquer
                momento &lt;&#51;!
            </p>
        </div>
        <div class="button-container">
            <a class="round-purple-button" href="">Ver mais sobre Vinícius Gabriel</a>
        </div>
        <figure class="featured-image" alt="Karen Kujou sorrindo olhando para a câmera." title="Karen Kujou feliz.">
            <img class="featured-image__image" src="images/karen-kujou/staring-happy.gif">
            <figcaption clas class="featured-image__caption">Espero que goste do meu site!</figcaption>
        </figure>
    </div>
</section>
