@using Microsoft.JSInterop
@using Monambike.Core.Data;
@using Monambike.Web.Resources;

@inject IJSRuntime JSRuntime

<section class="site-section--about">
    <div class="site-section--about__filter">
        <h2 class="site-section--title">SOBRE MIM</h2>
        <div class="site-section--about--body">
            <p class="reveal__translate">
                OII, <span>BOM DIAAAAAAA!</span> &#128523;&#127881;&#127881;
                <br />
                Eu me chamo Vinícius Gabriel, e sou um desenvolvedor que trabalha com <span>C#</span>, <span>Jogos</span> e <span>Web</span>.
            </p>
            <div class="i-love reveal__translate">
                <span>Eu gosto de..</span>
                <ul>
                    <li>&#128230; Manter as minhas coisas organizadas, então quando eu estou com tudo pronto sempre que preciso 😎 só usar</li>
                    <li>&#9195; Usar vários tipos de atalhos, as coisas ficam bem menos lentas, chatas e massivas, tudo fica muito mais fácil</li>
                    <li>&#129302; Automação, porque fazer algo que pode ser feito por um outro alguém? Beep-Boop!</li>
                </ul>
            </div>
            <div class="i-love reveal__translate">
                <ul>
                    <li>&#127918; Jogar joguinhos</li>
                    <li>&#127912; Design e desenhar</li>
                    <li>&#128172; Stickers</li>
                    <li>&#128049; Gatinhos!!</li>
                    <li>&#129424; E camarões.. &#128523</li>
                </ul>
            </div>
            <p class="reveal__translate">
                Que tal dar uma olhadinha no meu <a href="@Links.GitHub">GitHub</a> também? O link das minhas outras redes sociais
                estão no rodapé da página, sinta-se à vontade para dar uma checadinha lá a qualquer
                momento &lt;&#51;!
            </p>
        </div>
        <div class="button-container">
            <a class="button" href="">Ver mais sobre Vinícius Gabriel</a>
        </div>
        <figure class="karen-kujou-staring-happy" alt="Karen Kujou sorrindo olhando para a câmera." title="Karen Kujou feliz.">
            <img src="images/karen-kujou/staring-happy.gif">
            <figcaption>Espero que goste do meu site!</figcaption>
        </figure>
    </div>
</section>
