@**************************************************************************
Copyright(c) 2024 Vinicius Gabriel Marques de Melo. All rights reserved.
Contact: contact@monambike.com for more information.
For license information, please see the LICENSE file in the root directory.
**************************************************************************@

@using Monambike.Core.Data;

<section class="section--contact">
    <h2 class="section__title">Contato</h2>
    <div class="section--body reveal-animation">
        <p>
            Para ver informações profissionais detalhadas e atualizadas a respeito de mim você pode checar o meu
            <a target="_blank" rel="nofollow" href="@Links.LinkedIn">Linkedin</a> e o meu portfólio
            você pode ver no meu <a target="_blank" rel="nofollow" href="@Links.GitHub">GitHub</a>.
        </p>
        <p>
            Você também pode me contatar através do meu e-mail <a href="@Emails.Contact">@Emails.Contact</a>.
        </p>
    </div>
</section>
