@**************************************************************************
Copyright(c) 2024 Vinicius Gabriel Marques de Melo. All rights reserved.
Contact: contact@monambike.com for more information.
For license information, please see the LICENSE file in the root directory.
**************************************************************************@

@* @inject IStringLocalizer<en.1> localizer *@

<!-- PRESENTATION - MY NAME AND PROFESSION -->
<section class="section--presentation">
    <div class="presentation">
        <h1 class="presentation__name">Vinícius Gabriel</h1>
        <h2 class="presentation__profession">Software&nbsp;Developer</h2>
        <span class="presentation__skill">C# / Unity / SQL Server</span>
        <span class="presentation__skill">HTML5 / CSS3 / Sass / Blazor</span>
    </div>
</section>
