@**************************************************************************
Copyright(c) 2024 Vinicius Gabriel Marques de Melo. All rights reserved.
Contact: contact@monambike.com for more information.
For license information, please see the LICENSE file in the root directory.
**************************************************************************@

 @using Monambike.Core.Data;

<section class="section--tour">
    <h2 class="section__title">Tour pelo Site</h2>
    <div class="section--body">
        <div class="card-container">
            <!-- Media Card -->
            <a href="/media" target="_blank">
                <div class="card">
                    <h3 class="card__title">Listas de Mídia</h3>
                    <div class="card__content">
                        <p>Ver minhas listas de jogos, filmes, animes e séries preferidos que eu tô
                        assistindo ou quero assistir!</p>
                    </div>
                    <img class="card__image" src="images/you-will-see/anime-watching-tv.gif">
                </div>
            </a>

            <!-- Blog Card -->
            <a href="@Links.WebsiteBlog" target="_blank">
                <div class="card">
                    <h3 class="card__title">Blog</h3>
                    <div class="card__content">
                        <p>Dar uma passadinha do meu blog e conferir postagens sobre meus projetos e minha história.</p>
                    </div>
                    <img class="card__image" src="images/you-will-see/anime-computer.gif">
                </div>
            </a>

            <!-- Studies Card -->
            <a href="@Links.WebsiteLearn" target="_blank">
                <div class="card">
                    <h3 class="card__title">Notas e Estudos</h3>
                    <div class="card__content">
                        <p>Consultar minhas anotações e guias de referência que eu uso pra estudo.</p>
                    </div>
                    <img class="card__image" src="images/you-will-see/anime-studying.gif">
                </div>
            </a>
        </div>
    </div>
</section>
