.three-columns { /* Actually being used on Footer and "My Values" Index Page Section */
  float: left;
  width: 30%;
  
  &--extern-columns {
    margin: 0px 2.5% 0px 2.5%;
  }
}

.center-content {
  display: flex;
  justify-content: center;
}
