@import "../abstract/variables/_colors.scss";

.website-header {
  background-color: $COLOR-BLACK;
  display: flex;
  padding: 10px;

  &--presentation {
    flex: 1; // Makes it align to left
    margin: auto; // Align text to the center
    margin-left: 10px;
    display: flex;
    align-items: center;
    /* Vertical Line */
    &--profession::before {
      content: "";
      height: 1.5rem;
      border-left: 2px solid $COLOR-WHITE;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }


  ul {
    * {
      display: inline-block; // Displaying links single line
      margin: 0px 5px 0px 5px; // Keeps a distance of 10 pixels between list items
    }
  }
}

.hamburguer{
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkite-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: $COLOR-WHITE;
}

@media(max-width:800px){
  .hamburguer{
    display: block;
  }

  .hamburguer.active .bar:nth-child(1) {
    opacity: 0;
  }
  .hamburguer.active .bar:nth-child(2) {
    transform:translateY(8px) rotate(45deg);
  }
  .hamburguer.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .ul-navigation{
    position: fixed;
    left: -100%;
    top: 35px;
    gap: 0;
    flex-direction: column;
    background-color: $COLOR-BLACK;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    &__active{
      left: 0px;
    }
  }

}
