@page "/about"
@page "/aboutme"

@inject PageTitleService PageTitleService

<div>
    <h3>Coisas pessoais sobre mim</h3>
    <p>
        Olá!!
        Meu nome é Vinícius Gabriel mas se quiser pode me chamar de Vini, gosto bastante
        de apelidos desde que não me incomodem :)
    </p>
    <p>
        Eu desenvolvi diversos projetos e artes. Adoro desenhar, programar
        e criar coisas <span>relevantes</span>!!
    </p>
    <p>
        Eu sou introvertido, adoro vídeos de gatinhos, frio, chuva,
        desenhar, programar e jogar joguinhos.
        Tenho um grande apego por memórias e amo sorvete de napolitano.
    </p>
    <p>
        Sou apaixonado por organização e mantenho conversa à base de
        stickers e emojis.
    </p>
    <pre>
        venho estudando japonês desde 2017 :)
        programando desde 2018 🎉
        estudando sobre jogos desde 2018 👀
        estudando inglês desde que eu me lembro como pessoa 😬

        a vida é sobre continuar tentando
        e jamais deixar de tentar ❌
        se parar tente voltar mesmo que
        mas faça o tempo valer a pena, e saiba pelo que você tá lutando ⚔️
        mesmo que ninguém se importe
        se envolve você, você precisa se importar 👻
        inspiracional 😬
    </pre>
    <p>
        Meu código e a minha vida são bem organizadas desde muito tempo
        😜 tento manter assim mesmo nos tempos difíceis!!
    </p>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await PageTitleService.SetPrefixOnPageTitle("About");
    }
}
