@page "/blog"

<div>
	<aside>
		@*uma lista com tudo que tem dentro desse módulo*@
	</aside>

	<aside>
		@*Nesse artigo você vai ver*@
		@*Ver mais*@
	</aside>


	<div>
		<heder>
			<nav><a>Blog /</a></nav>
			<div>
				Compartilhar postagem em:
				Facebook
				Twitter
				Linkedin
				E-mail
			</div>
		</heder>

		<div>
			<h1>Title</h1>
			<div>Conteúdo do site</div>
		</div>
	</div>


	<div>
		<h3>Veja também</h3>
	</div>

	<div>
		<h3>Conteúdo Recomendado</h3>
	</div>
</div>