@page "/"
@using Monambike.Web.Data;

<div id="div-display">
    <!-- PRESENTATION - MY NAME AND PROFESSION -->
    <section class="site-section site-section__name-and-profession">
        <div>
            <h1 class="my-name-and-profession my-name-and-profession__name">VINÍCIUS&nbsp;GABRIEL</h1>
            <h2 class="my-name-and-profession my-name-and-profession__profession">Desenvolvedor</h2>
            <span>C# - SQL Server - Visual Studio</span>
            <span>HTML5 - CSS3 - Sass - Visual Studio Code</span>
        </div>
    </section>

    <!-- WARNING ABOUT SITE AT DEVELOPMENT -->
    <h3 class="warning">Site em desenvolvimento, peço desculpas pelo inconveniente.</h3>

    <!-- ABOUT ME -->
    <section class="site-section site-section--about">
        <h2 class="site-section__title">SOBRE MIM</h2>
        <div class="site-section__body">
            <p>OOII, BOM DIAAAAAAA! &#128523;&#127881;&#127881; Opa, e ai!!</p>
            <p>Eu sou Vinícius Gabriel, e sou um desenvolvedor C# e Web.</p>
            <p>
                <span>Eu amo..</span>
                <ul>
                    <li>&#128230; Manter as minhas coisas organizadas, então quando eu estou com tudo pronto sempre que preciso 😎 só usar;</li>
                    <li>&#9195; Usar vários tipos de atalhos, as coisas ficam bem menos lentas, chatas e massivas, tudo fica muito mais fácil;</li>
                    <li>&#129302; Automação, porque fazer algo que pode ser feito por um outro alguém? Beep-Boop!</li>
                </ul>
            </p>
            <p>
                <span>Eu amo..</span>
                <ul>
                    <li>&#127918; Jogar joguinhos;</li>
                    <li>&#127912; Design e desenhar;</li>
                    <li>&#128172; Stickers;</li>
                    <li>&#128049; Gatinhos!!;</li>
                    <li>&#129424; E camarões.. &#128523;.</li>
                </ul>
            </p>
            <p>
                Que tal dar uma olhadinha no meu <a href="@Links.Github">Github</a> também? O link das minhas outras redes sociais
                estão no rodapé da página, sinta-se à vontade para dar uma checadinha lá a qualquer
                momento &lt;&#51;!
            </p>
        </div>
        <figure class="karen-kujou-staring-happy" alt="Karen Kujou feliz" title="Karen Kujou feliz">
            <img src="images/karen-kujou/staring-happy.gif">
            <figcaption>Espero que goste do meu site!</figcaption>
        </figure>
    </section>

    <!-- MY VALUES -->
    <section class="site-section site-section--values">
        <h2 class="site-section__title">VALORES</h2>
        <div class="site-section__body topic-body--values">
            <div class="three-columns three-columns__extern-columns myvalues__extern-column">
                <h3 class="column-title">Transparência</h3>
                <p>
                    Manter o máximo de transparência possível dentro do âmbito de trabalho, evitando ao
                    máximo dar voltas e por sua vez mascarar a ideia que eu quero passar para que a equipe
                    com quem eu trabalho possa ter a real noção da situação
                </p>
                <p>
                    Desse jeito, fica muito mais fácil para que o meu time possa me fornecer algum auxílio
                    para me ajudar de alguma forma.
                </p>
                <div class="center-content">
                    <img src="../Properties/" alt="Imagem de Representação de Conversa - Transparência" title="Imagem de Representação de Conversa - Transparência">
                </div>
            </div>
            <div class="three-columns three-columns__intern-column myvalues__intern-column">
                <h3 class="column-title">Evolução</h3>
                <p>
                    Procuro sempre por uma constante melhora, aperfeiçoamento e conhecimento em pontos
                    diretamente relacionados à minha vocação, na minha vida pessoal ou em outras áreas (mesmo
                    que não sejam diretamente relacionadas com o meu trabalho).
                </p>
                <div class="center-content">
                    <img src="images/values/adaptation.png" alt="Imagem de Um Lagarto - Adaptação" title="Imagem de Um Lagarto - Adaptação">
                </div>
            </div>
            <div class="three-columns three-columns__extern-columns myvalues__extern-column">
                <h3 class="column-title">Direcionamento</h3>
                <p>
                    Definir o porquê da decisão estar sendo tomada, quanto tempo provavelmente vai
                    levar e recursos necessários são essenciais
                </p>
                <p>
                    Quanto maior a troca de informações na resolução de problema ou criação de um novo
                    recurso, melhor tende à ser o resultado final.
                </p>
                <div class="center-content">
                    <img src="Images/Values/direction.png" alt="Imagem de Três Setas - Direcionamento" title="Imagem de Três Setas - Direcionamento">
                </div>
            </div>
        </div>
    </section>

    <!-- SOCIAL MEDIA -->
    <section class="site-section site-section--social-media">
        <h2 class="site-section__title">REDES SOCIAIS</h2>
        <div class="site-section__body">
            <div class="social-media social-media--left">
                <h3 class="social-media__title">Linkedin</h3>
                <div class="social-media__body">
                    <p>
                        Lugar onde eu coloco mais sobre a minha trajetória da minha carreira. Lá você
                        pode ver os lugares onde eu trabalhei, alguns projetos que tiveram um impacto mais
                        na minha carreira, minhas competências e algumas coisas sobre mim à respeito da
                        minha carreira
                    </p>
                    <p>
                        Normalmente lá é o lugar onde eu tenho as informações mais atualizadas sobre
                        a minha carreira profissional. Da uma conferida lá :D
                    </p>
                </div>
            </div>

            <div class="social-media social-media--right">
                <h3 class="social-media__title">Youtube</h3>
                <div class="social-media__body">
                    <p>
                        É o lugar onde tenho alguns dos melhores momentos ou edições que gosto de gostaria
                        de compartilhar com outras pessoas no geral
                    </p>
                    <p>
                        Pretendo compartilhar algumas histórias da minha vida também, alguns trechos e
                        momentos da minha vida que considero importantes através de vídeos
                    </p>
                </div>
            </div>

            <div class="social-media social-media--left">
                <h3 class="social-media__title">Tik Tok</h3>
                <div class="social-media__body">
                    <p>Ainda não postei nada, mas ainda pretendo fazer conteúdo.</p>
                </div>
            </div>
        </div>
    </section>


    <!-- CONTACT -->
    <section class="site-section site-section--contact">
        <h2 class="site-section__title">CONTATO</h2>
        <div class="site-section__body">
            <p>Para ver algum dos meus projetos públicos você pode acessar o meu Github.</p>
            <p>E caso queira ver informações profissionais mais detalhadas e atualizadas a respeito de mim você pode ver no meu Linkedin.</p>
            <p>
                Caso queira ainda me contatar a respeito de alguma oportunidade, iniciar uma conversa
                comigo ou similares você pode fazê-lo através do meu email do outlook ou do google.
            </p>
        </div>
    </section>
</div>
